// import fonts
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
// colors
$col-bg: hsl(52, 94%, 94%);
$col-light-100: hsl(100, 100%, 100%);
$col-primary-600: hsl(2, 14%, 38%);
$col-primary-900: hsl(0, 13%, 24%);
$col-ink: #03045e;
// typography
$fs-small: 0.875rem;
$fs-normal: 1rem;
$fs-xnormal: 1.25rem;
$fs-large: 1.5rem;
$fs-xlarge: 1.875rem;
$fs-xxlarge: 3rem;
// fonts
$handwriting: "Great Vibes";
$printing: "Old Standard TT";
